body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*global class*/

.inline{
    display: inline;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.primaryBtn{
    background-color: #E44D26;
    color: #fff;
    padding: 4px 16px;
    border-radius: 8px;
}

.secondaryBtn{
    background-color: #5A87D4;
    color: #fff;
    padding: 4px 16px;
    border-radius: 8px;

}

/* navbar start*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3B4D;
    color: #fff;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.main{
    font-size: 36px;
    font-weight: bold;
}

.right{
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbarLink a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

/*navbar end*/

/*welcome section start*/

.welcomeSection{
    color: #fff;
    padding: 20px;
    background-image: url('/img/welcomeSection.jpg');
}

/*welcome section end*/

/*suggestion start*/
.suggestionBack{
    background-color: #F8F9FB;
    padding: 20px;
}

.suggArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.1);
    gap: 16px;
}

.article{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
}

.article:not(:last-child){
    border-right: 1px solid #eee;
    padding-right: 20px;
}

.article h4{
    color: #333;
}

.article p{
    font-size: 16px;
    color: #333;
}
/*suggestion end*/

/*card start*/
.cardTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
 }

.firstTitle, .secondTitle{
    color: #333;
}

.cardWarpper{
    display: flex;
    gap: 16px;
    border: 1px solid #00000037;
}

.leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.rightSide{
    display: flex;
    flex-direction: column;
}

.rightSide h2{
    margin-top: 0;
    margin-bottom: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000037;
    border-radius: 8px;
    padding: 0 4px;
}
.card img{
    max-width: 250px;
}

.card h4{
    font-size: 20px;
    margin: 8px;
    width: 100%;
}

.card h6{
    font-size: 16px;
    margin: 0;
    width: 100%;
}


.card #secondaryBtn{
    margin: 20px;
    width: 100%;
    
}
/*card end*/

/*arrivals start*/
.lastsection{
    border-top: 1px solid #333;
    background-color: #F8F9FB;
    padding: 20px;

}
.arrivals{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin-bottom: 30px;
    border-top: 1px solid #333;
}

.arrivalsCard{
    max-width: 140px;
    max-height: 110px;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3333331f;
}

.arrivalsCard h4{
    font-size: 20px;
    margin: 8px;
}
/*arrivals end*/

/*footer start*/
footer{
    background-color: #2A3B4D;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    border-bottom: 1px solid #fff;
}

.searchBar h3{
    color: #F8F9FB;
    font-size: 18px;
}

.searchBar input{
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
}

.searchBar button{
   font-size: 18px;
}

.items{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items:baseline;
}

.items h5{
    color: #fff;
}

.items a{
    color: #fff;
    text-decoration: none;
}

.items ul{
   list-style-type: none;
}

.follow{
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

.icon{
    font-size: 8px;
    background-color: #fff;
}
/*fotter end*/